/* css Resetting */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
figure,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ol,
ul {
  margin: 0;
  list-style-type: none;
  padding-inline-start: 0px;
}

img {
  display: block;
  max-width: 100%;
}

/* global */

:root {
  --color-primary: #000;
  --color-accent-1: #ff033e;
  --color-text: #262424;
  --color-background: #faf9f6;
}

.wrapper {
  position: absolute;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
}

.landscape-img {
  width: 70%;
  max-width: 440px;
  min-width: 220px;
  display: inline;
  margin-bottom: 10px;
  border: solid 1px var(--color-accent-1);
  padding: 2px;
}

.portrait-img {
  width: 40%;
  max-width: 250px;
  min-width: 130px;
  display: inline;
  margin-bottom: 10px;
  border: solid 1px var(--color-accent-1);
  padding: 2px;
}

.old-open-call-img {
  width: 40%;
  max-width: 250px;
  min-width: 130px;
  display: inline;
  margin-bottom: 10px;
  border-radius: 10px;
  border: solid 1px var(--color-accent-1);
}

.line {
  width: 100%;
  height: 1px;
  margin-bottom: 20px;
  background-color: var(--color-accent-1);
}

.column {
  width: 20px;
  height: 200px;
  margin-left: 250px;
  background-color: var(--color-accent-1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.column2 {
  width: 20px;
  height: 200px;
  margin-left: 20px;
  background-color: var(--color-accent-1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.column3 {
  width: 20px;
  height: 400px;
  margin-left: 300px;
  background-color: var(--color-accent-1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media (min-width: 500px) {
  .column3 {
    margin-left: 450px;
  }
}

@media (min-width: 700px) {
  .column3 {
    margin-left: 650px;
  }
}

@media (min-width: 900px) {
  .column3 {
    margin-left: 800px;
  }
}
@media (min-width: 1200px) {
  .column3 {
    margin-left: 1000px;
  }
}

/* text style */

.bread-text {
  text-align: start;
  color: var(--color-text);
  font-family: monospace;
  margin-bottom: 10px;
}

.bread-text__list {
  text-align: start;
  color: var(--color-text);
  font-family: monospace;
  margin-bottom: 10px;
  margin-left: 15px;
}

.bread-text__quote {
  text-align: start;
  color: var(--color-text);
  font-family: monospace;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 7px 0;
  border-right: solid 20px var(--color-accent-1);
  border-top: solid 1px var(--color-accent-1);
  border-bottom: solid 1px var(--color-accent-1);
}

.container-link__text {
  font-size: 1rem;
  color: var(--color-background);
  font-family: monospace;
}
.backlink {
  font-size: 1.2rem;
  text-decoration: underline;
  margin-right: 10px;
  color: var(--color-accent-1);
  text-align: end;
  margin-bottom: 10px;
  font-family: monospace;
}

.headline {
  font-size: 1.8rem;
  text-decoration: underline;
  color: var(--color-accent-1);
  margin-bottom: 10px;
  text-align: center;
  font-family: monospace;
}

.subheadline {
  font-size: 1.2rem;
  text-decoration: underline;
  color: var(--color-accent-1);
  text-align: start;
  margin-bottom: 10px;
  font-family: monospace;
}

/*heder*/
.container-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: end;
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.655);
  border-bottom: solid 2px transparent;
  pointer-events: none;
  z-index: 1000;
}

.container-header__title {
  position: absolute;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-right: 10px;
  border-bottom: solid 2px var(--color-accent-1);
}

@media (min-width: 600px) {
  .container-header__title {
    font-size: 2rem;
  }
}

@media (min-width: 800px) {
  .container-header__title {
    font-size: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .container-header__title {
    font-size: 3.5rem;
  }
}

.container-header__logo {
  position: absolute;
  width: 15vw;
  max-width: 150px;
  left: 10px;
  transform: rotate(20deg);
}

.container-link {
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
  margin-bottom: 10px;
  width: 100%;
  padding: 3px;
  background-color: var(--color-accent-1);
}

@media (min-width: 800px) {
  .container-link {
    margin-top: 80px;
  }
}

@media (min-width: 1200px) {
  .container-link {
    margin-top: 100px;
  }
}

/* Layout */

.grid-main {
  display: grid;
  grid-template-rows: auto;
  border-top: solid 2px var(--color-accent-1);
  border-bottom: solid 2px var(--color-accent-1);
}

.container-box1 {
  display: flex;
  text-align: center;
  margin-left: 60px;
  margin-right: 15px;
  padding: 5px;
  flex-direction: column;
  border-left: solid 2px var(--color-accent-1);
}

@media (min-width: 600px) {
  .container-box1 {
    margin-left: 250px;
  }
}

@media (min-width: 800px) {
  .container-box1 {
    margin-left: 450px;
  }
}

@media (min-width: 1200px) {
  .container-box1 {
    margin-left: 700px;
  }
}

.container-box2 {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr;
  text-align: center;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 15px;
  padding: 5px;
  flex-direction: column;
  border-top: solid 2px var(--color-accent-1);
  border-left: solid 2px var(--color-accent-1);
}

@media (min-width: 800px) {
  .container-box2 {
    grid-template-columns: 1fr 1fr;
    margin-left: 100px;
    gap: 5px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

@media (min-width: 800px) {
  .box2__center-title {
    grid-row: 1;
    grid-column: 1 / 3;
  }
}
/* CONTACT */
.container-box1__contact {
  display: flex;
  text-align: center;
  height: 200px;
  margin-left: 60px;
  margin-right: 15px;
  padding: 5px;
  flex-direction: column;
  border-left: solid 20px var(--color-accent-1);
}

@media (min-width: 600px) {
  .container-box1__contact {
    margin-left: 350px;
  }
}

@media (min-width: 800px) {
  .container-box1__contact {
    margin-left: 550px;
  }
}

@media (min-width: 1200px) {
  .container-box1__contact {
    margin-left: 800px;
  }
}
.container-box2__contact {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  text-align: center;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 15px;
  padding: 5px;
  flex-direction: column;
  border-top: solid 2px var(--color-accent-1);
  border-left: solid 2px var(--color-accent-1);
}

@media (min-width: 600px) {
  .container-box2__contact {
    margin-left: 100px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 600px) {
  .box2__contact__center-title {
    grid-row: 1;
    grid-column: 1 / 3;
  }
}

/* end contact */

/*open-call*/
.container-box2__open-call {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr;
  text-align: center;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 15px;
  padding: 5px;
  flex-direction: column;
  border-top: solid 2px var(--color-accent-1);
  border-left: solid 2px var(--color-accent-1);
}

@media (min-width: 800px) {
  .container-box2__open-call {
    grid-template-columns: 1fr 1fr;
    margin-left: 100px;
    gap: 5px;
  }
}

.sections-box-pink {
  position: relative;
  border-top: solid 1px var(--color-accent-1);
  padding: 2px;
}

.sections-box-pink::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-accent-1);
  opacity: 0.3;
}

@media (min-width: 800px) {
  .sections-box-pink {
    border-top: solid 1px var(--color-accent-1);
    border-right: solid 1px var(--color-accent-1);
  }
}

/*end open-call*/

.sections-box {
  border-top: solid 1px var(--color-accent-1);
  padding: 2px;
}

@media (min-width: 800px) {
  .sections-box {
    border-top: solid 1px var(--color-accent-1);
    border-right: solid 1px var(--color-accent-1);
  }
}

.container-box3 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  gap: 5px;
  margin-left: 10px;
  margin-right: 15px;
  padding: 5px;
  border-top: solid 10px var(--color-accent-1);
  border-left: solid 2px var(--color-accent-1);
}

@media (min-width: 600px) {
  .container-box3 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .container-box3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .container-box3 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.framme-book {
  max-width: 300px;
  gap: 5px;
  padding: 5px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  border-bottom: solid 1px var(--color-accent-1);
  border-left: solid 1px var(--color-accent-1);
}
.framme-book__title {
  text-align: end;
  font-size: 0.8rem;
  color: var(--color-text);
  font-family: monospace;
}

@media (min-width: 600px) {
  .center-title {
    grid-row: 1;
    grid-column: 1 / 3;
  }
}

@media (min-width: 900px) {
  .center-title {
    grid-row: 1;
    grid-column: 1 / 4;
  }
}

@media (min-width: 1200px) {
  .center-title {
    grid-row: 1;
    grid-column: 1 / 5;
  }
}

/* open call*/

/*books*/

/*contact*/

/*shop*/

/*footer*/
.container-footer {
  position: absolute;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  padding: 10px;
  background-color: var(--color-accent-1);
}
.container-footer__text {
  text-align: start;
  font-family: monospace;
}
.container-footer__text-small {
  text-align: start;
  font-family: monospace;
  font-size: 0.5rem;
}
.footer-link {
  width: 8vw;
  max-width: 50px;
}
.logo-footer {
  position: absolute;
  left: 44%;
  bottom: 45px;
  width: 20vw;
  max-width: 150px;
}
